@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
figure{
    margin: 0;
    padding: 0;
}
.container-xl{
    max-width: 1140px;
}
header .navbar{
    background: linear-gradient(255.03deg, #F0F5FF 7.6%, rgba(194, 210, 244, 0.17) 88.97%);
}
.navbar-collapse{
    justify-content: end;
}   
.dropdown-toggle::after{
    display: none;
}

/*  drop down section all css */

.navbar-nav .dropdown-menu.first::before{
    content: "";
    position: absolute;
    top: -17px;
    right: 34%;
    width: 21px;
    height: 21px;
    border-bottom: solid 30px #FFFFFF;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    
}
.navbar-nav .dropdown-menu::before{
    content: "";
    position: absolute;
    top: -17px;
    right: 28%;
    width: 21px;
    height: 21px;
    border-bottom: solid 30px #FFFFFF;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    
}
 .navbar-nav .dropdown-menu.first{
    transform: translate(-61%);
    top: 51px;
}
 .navbar-nav .dropdown-menu{
    min-width: 1500px;
    min-height: 607px;
    transform: translate(-67%);
    top: 51px;
    background: #FFFFFF;
    box-shadow: 0px 19px 43px rgba(4, 81, 139, 0.24);

}
.first_drop_down_inner{
    margin-top: 71px;
}
.first_drop_down_inner span{
    margin-right: 13px;
}
.first_drop_down_inner h3{
    margin-top: 42px;
    margin-bottom: 40px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #04131F;
}
.first_drop_down_inner ul li a{
    display: flex;
    align-items: center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #656565;
    &:hover{
        color: #04131F;
    }
    &:active{
        color: #04131F;
    }
}
.first_drop_down_inner .first_drop_down_inner_outer .first_drop_down_card_5_outer{
    margin-top: -99px;
}
.first_drop_down_inner .first_drop_down_inner_outer .first_drop_down_card_1_outer ul li{
    margin-bottom: 36px;
    &:last-child{
        margin-bottom: 46px;
    }
}
.first_drop_down_inner .first_drop_down_inner_outer .first_drop_down_card_5_outer ul li{
    margin-bottom: 34px;
}
.first_drop_down_inner .first_drop_down_inner_outer .first_drop_down_card_2_outer ul li{
    margin-bottom: 36px;
    &:last-child{
        margin-bottom: 0px;
    }
}
.first_drop_down_inner .first_drop_down_inner_outer .first_drop_down_card_3_outer ul li{
    margin-bottom: 36px;
}
.first_drop_down_inner .first_drop_down_inner_outer .first_drop_down_card_4_outer ul li{
    margin-bottom: 36px;
    &:last-child{
        margin-bottom: 0px;
    }
}


/* next drop-down section */

.drop_down_inner{
    margin-top: 70px;
}
.drop_down_inner h3{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #04131F;
    margin-top: 42px;
    margin-bottom: 39px;
}
.drop_down_inner span{
    margin-right: 13px;
}
.drop_down_inner ul li a{
    display: flex;
    align-items: center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #656565;
    &:hover{
        color: #04131F;
    }
    &:active{
        color: #04131F;
    }
}
.drop_down_inner ul li{
    margin-bottom: 33px;
}

/*  drop down section all css */


.nav_a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #04131F; 
}
.helping_engineer_section_bg_img{
    position: relative;
}
.helping_engineer_section_bg_img_inner{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.helping_engineer{
    margin-top: -97px;
    background: linear-gradient(255.03deg, #F0F5FF 7.6%, rgba(194, 210, 244, 0.17) 88.97%);
}
.helping_engineer_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 490px;

    
}
.helping_engineer_inner_inner h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
    color: #022642;
}
.helping_engineer_inner_inner h1 span{
    color: #00B4E0;
    font-weight: 800;
}
.helping_engineer_inner_inner p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #04131F;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 30px;
}
.helping_engineer_inner_inner .explore_more_btn_outer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.helping_engineer_inner_inner .explore_more_btn:hover{
    background-color: #093679d5;
}
.helping_engineer_inner_inner .explore_more_btn{
    background: #093679;
    box-shadow: 0px 37px 54px rgba(10, 46, 71, 0.12);
    display: inline-block;
    padding: 15px 23px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.helping_engineer_inner_inner .explore_more_btn span{
    margin-left: 15px;
}
.featured .round_vector_outer{
    position: relative;
    width: 100%;
    height: 100%;
}
.featured{
    margin-bottom: 89px;
}
.nav-tabs .nav-link:focus{
    color: #005494 !important;
    border-bottom: 4px solid #005494 !important;
}
.featured .nav-tabs .nav-link:hover{
    color: #005494;
}
.featured .nav-tabs .nav-link:first-child{
   min-width: 120px;
}
.featured .nav-tabs .nav-link{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #606A72;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid transparent;
    padding-bottom: 24px;
    margin-bottom: -3px;
}
.featured .round_vector{
    position: absolute;
    top: -386px;
    right: 61px;
    z-index: -1;
    width: 559px;
    height: 559px;
}
.featured_outer_inner h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #04131F;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
}
.featured_outer_inner ul li a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #606A72;
}
.featured_outer_inner ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: #DBE8F2 4px solid;
    margin-bottom: 35px;
}


/* card number 1 */

.card_section_inner .card_section_inner_inner .card_1_outer{
    box-sizing: border-box;
    min-width: 176px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.card_section_inner .card_section_inner_inner .card_1_outer .card_1_inner{
    margin-top: 14px;
}
.card_section_inner .card_section_inner_inner .card_1_outer .card_1_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin-top: 21px;
    margin-bottom: 27px;
}
.card_section_inner .card_section_inner_inner .card_1_outer .card_1_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_1_outer .card_1_inner a span{
    margin-left: 10px;
}


/* card number 2 */

.card_section_inner .card_section_inner_inner .card_2_outer{
    box-sizing: border-box;
    min-width: 176px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.card_section_inner .card_section_inner_inner .card_2_outer .card_2_inner{
    margin-top: 14px;
}
.card_section_inner .card_section_inner_inner .card_2_outer .card_2_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin-top: 26px;
    margin-bottom: 28px;
}
.card_section_inner .card_section_inner_inner .card_2_outer .card_2_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_2_outer .card_2_inner a span{
    margin-left: 10px;
}


/* card number 3 */

.card_section_inner .card_section_inner_inner .card_3_outer{
    box-sizing: border-box;
    min-width: 176px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.card_section_inner .card_section_inner_inner .card_3_outer .card_3_inner{
    margin-top: 17px;
}
.card_section_inner .card_section_inner_inner .card_3_outer .card_3_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 26px 0px 27px 0px;
}
.card_section_inner .card_section_inner_inner .card_3_outer .card_3_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_3_outer .card_3_inner a span{
    margin-left: 10px;
}


/* card number 4 */

.card_section_inner .card_section_inner_inner .card_4_outer{
    box-sizing: border-box;
    min-width: 175px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.card_section_inner .card_section_inner_inner .card_4_outer .card_4_inner{
    margin-top: 19px;
}
.card_section_inner .card_section_inner_inner .card_4_outer .card_4_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin-bottom: 22px;
    margin: 22px 0px 28px 0px;
}
.card_section_inner .card_section_inner_inner .card_4_outer .card_4_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_4_outer .card_4_inner a span{
    margin-left: 10px;
}


/* card number 5 */

.card_section_inner .card_section_inner_inner .card_5_outer{
    box-sizing: border-box;
    min-width: 175px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}

.card_section_inner .card_section_inner_inner .card_5_outer .card_5_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin-bottom: 12px;
    margin: 19px 0px 9px 0px;
}
.card_section_inner .card_section_inner_inner .card_5_outer .card_5_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_5_outer .card_5_inner a span{
    margin-left: 10px;
}


/* card number 6 */

.card_section_inner .card_section_inner_inner .card_6_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.card_section_inner .card_section_inner_inner .card_6_outer .card_6_inner{
    margin-top: 13px;
}

.card_section_inner .card_section_inner_inner .card_6_outer .card_6_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 23px 0px 9px 0px;
}
.card_section_inner .card_section_inner_inner .card_6_outer .card_6_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_6_outer .card_6_inner a span{
    margin-left: 10px;
}


/* card number 7 */

.card_section_inner .card_section_inner_inner .card_7_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.card_section_inner .card_section_inner_inner .card_7_outer .card_7_inner{
    margin-top: 34px;
}
.card_section_inner .card_section_inner_inner .card_7_outer .card_7_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 39px 0px 30px 0px;
}
.card_section_inner .card_section_inner_inner .card_7_outer .card_7_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_7_outer .card_7_inner a span{
    margin-left: 10px;
}


/* card number 8 */

.card_section_inner .card_section_inner_inner .card_8_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.card_section_inner .card_section_inner_inner .card_8_outer .card_8_inner{
    margin-top: 7px;
}
.card_section_inner .card_section_inner_inner .card_8_outer .card_8_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 13px 0px 31px 0px;
}
.card_section_inner .card_section_inner_inner .card_8_outer .card_8_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_8_outer .card_8_inner a span{
    margin-left: 10px;
}


/* card number 9 */

.card_section_inner .card_section_inner_inner .card_9_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.card_section_inner .card_section_inner_inner .card_9_outer .card_9_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 8px 0px 30px 0px;
}
.card_section_inner .card_section_inner_inner .card_9_outer .card_9_inner{
    margin-top: 10px;
}
.card_section_inner .card_section_inner_inner .card_9_outer .card_9_inner a:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_section_inner .card_section_inner_inner .card_9_outer .card_9_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_9_outer .card_9_inner a span{
    margin-left: 10px;
}


/* card number 10 */

.card_section_inner .card_section_inner_inner .card_10_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.card_section_inner .card_section_inner_inner .card_10_outer .card_10_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 10px 0px 32px 0px;
}
.card_section_inner .card_section_inner_inner .card_10_outer .card_10_inner{
    margin-top: 12px;
}
.card_section_inner .card_section_inner_inner .card_10_outer .card_10_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;

}
.card_section_inner .card_section_inner_inner .card_10_outer .card_10_inner a span{
    margin-left: 10px;
}


/* card number 11 */

.card_section_inner .card_section_inner_inner .card_11_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.card_section_inner .card_section_inner_inner .card_11_outer .card_11_inner{
    margin-top: 10px;
}
.card_section_inner .card_section_inner_inner .card_11_outer .card_11_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 25px 0px 29px 0px;
}
.card_section_inner .card_section_inner_inner .card_11_outer .card_11_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_11_outer .card_11_inner a span{
    margin-left: 10px;
}


/* card number 12 */

.card_section_inner .card_section_inner_inner .card_12_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
}
.card_section_inner .card_section_inner_inner .card_12_outer .card_12_inner{
    margin-top: 10px;
}
.card_section_inner .card_section_inner_inner .card_12_outer .card_12_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 12px 0px 51px 0px;
}
.card_section_inner .card_section_inner_inner .card_12_outer .card_12_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_12_outer .card_12_inner a span{
    margin-left: 10px;
}



/* card number 13 */

.card_section_inner .card_section_inner_inner .card_13_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
}
.card_section_inner .card_section_inner_inner .card_13_outer .card_13_inner {
    margin-top: 22px;
}
.card_section_inner .card_section_inner_inner .card_13_outer .card_13_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 30px 0px 28px 0px;
}
.card_section_inner .card_section_inner_inner .card_13_outer .card_13_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_13_outer .card_13_inner a span{
    margin-left: 10px;
}


/* card number 14 */

.card_section_inner .card_section_inner_inner .card_14_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
}
.card_section_inner .card_section_inner_inner .card_14_outer .card_14_inner{
    margin-top: 18px;
}
.card_section_inner .card_section_inner_inner .card_14_outer .card_14_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 13px 0px 28px 0px;
}
.card_section_inner .card_section_inner_inner .card_14_outer .card_14_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_14_outer .card_14_inner a span{
    margin-left: 10px;
}



/* card number 15 */

.card_section_inner .card_section_inner_inner .card_15_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
}
.card_section_inner .card_section_inner_inner .card_15_outer .card_15_inner{
    margin-top: 27px;
}
.card_section_inner .card_section_inner_inner .card_15_outer .card_15_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 20px 0px 47px 0px;
}
.card_section_inner .card_section_inner_inner .card_15_outer .card_15_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_15_outer .card_15_inner a span{
    margin-left: 10px;
}



/* card number 16 */

.card_section_inner .card_section_inner_inner .card_16_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
}
.card_section_inner .card_section_inner_inner .card_16_outer .card_16_inner{
    margin-top: 33px;
}
.card_section_inner .card_section_inner_inner .card_16_outer .card_16_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 35px 0px 47px 0px;
}
.card_section_inner .card_section_inner_inner .card_16_outer .card_16_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_16_outer .card_16_inner a span{
    margin-left: 10px;
}



/* card number 17 */

.card_section_inner .card_section_inner_inner .card_17_outer{
    box-sizing: border-box;
    min-width: 178px;
    min-height: 297px;
    background: #FFFFFF;
    border: 1px solid #B6D0E4;
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
}
.card_section_inner .card_section_inner_inner .card_17_outer .card_17_inner{
    margin-top: 18px;
}
.card_section_inner .card_section_inner_inner .card_17_outer .card_17_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
    margin: 26px 0px 26px 0px;
}
.card_section_inner .card_section_inner_inner .card_17_outer .card_17_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #005494;
}
.card_section_inner .card_section_inner_inner .card_17_outer .card_17_inner a span{
    margin-left: 10px;
}






.about_ice{
    background-color: #F4F5F6;
    padding-bottom: 88px;
}
.about_ice .about_ice_inner{
    display: flex;
    justify-content: space-between;
    padding-top: 87px;
}
.about_ice .about_ice_inner .about_ice_inner_left h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #04131F;
    line-height: 1.2;
}
.about_ice .about_ice_inner .about_ice_inner_left p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    max-width: 409px;
    margin: 18px 0px 27px 0px;
}
.about_ice .about_ice_inner .about_ice_inner_left a span{
    margin-left: 20px;
}
.about_ice .about_ice_inner .about_ice_inner_left a:hover{
    background: #093679d8;
}
.about_ice .about_ice_inner .about_ice_inner_left a{
    display: inline-block;
    background: #093679;
    padding: 14px 23px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.about_ice .about_ice_outer .about_ice_bottom_outer{
    position: relative;
}
.about_ice .about_ice_outer .about_ice_bottom_outer .about_ice_bottom_inner{
    position: absolute;
    bottom: 28px;
    left: 0;
}





.latest_company .latest_company_inner h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #04131F;
    margin-bottom: 29px;
}
.latest_company .latest_company_inner{
    margin-top: 88px;
}

/* company card 1 */

.latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner figure img{
    width: 367px;
    height: 295px;
}
.latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner p:first-child{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #005494;
    margin: 33px 0px 32px 0px;
    &::before{
        content: "";
        position: absolute;
        bottom: -13px;
        left: 0;
        width: 28px;
        height: 2.5px;
        background-color: #005494;
    }
}
.latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 12px;
}
.latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner .calender_outerd{
    display: flex;
}
.latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner .calender_outerd span{
    margin-right: 13px;
}
.latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner .calender_outerd p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #005494;
    margin-top: 2px;
}
.latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 14px;
}
.latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner .card_1_inner_bottom a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #005494;
}
.latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner .card_1_inner_bottom a span{
    margin-left: 15px;
}





/* company card 2 */

.latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner figure img{
    width: 367px;
    height: 295px;
}
.latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner p:first-child{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #005494;
    margin: 33px 0px 32px 0px;
    &::before{
        content: "";
        position: absolute;
        bottom: -13px;
        left: 0;
        width: 28px;
        height: 2.5px;
        background-color: #005494;
    }
}
.latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 12px;
}
.latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner .calender_outerd{
    display: flex;
}
.latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner .calender_outerd span{
    margin-right: 13px;
}
.latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner .calender_outerd p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #005494;
    margin-top: 2px;
}
.latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 14px;
}
.latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner .card_2_inner_bottom a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #005494;
}
.latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner .card_2_inner_bottom a span{
    margin-left: 15px;
}



/* company card 3 */


.latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner figure img{
    width: 367px;
    height: 295px;
}
.latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner p:first-child{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #005494;
    margin: 33px 0px 32px 0px;
    &::before{
        content: "";
        position: absolute;
        bottom: -13px;
        left: 0;
        width: 28px;
        height: 2.5px;
        background-color: #005494;
    }
}
.latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 12px;
}
.latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner .calender_outerd{
    display: flex;
}
.latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner .calender_outerd span{
    margin-right: 13px;
}
.latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner .calender_outerd p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #005494;
    margin-top: 2px;
}
.latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 14px;
}
.latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner .card_3_inner_bottom a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #005494;
}
.latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner .card_3_inner_bottom a span{
    margin-left: 15px;
}

.latest_company .latest_company_inner .card_section{
    padding-bottom: 95px;
}



.certification {
    background-color: #F4F5F6;
}
.certification .certification_outer{
    padding-top: 79px;
    padding-bottom: 55px;
}
.certification .certification_outer .certification_inner h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #04131F;
    margin-bottom: 75px;
}
.certification .certification_outer .certification_inner .certification_inner_inner{
    display: flex;
    justify-content: space-between;
}
.certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_left ul{
    position: relative;
}
.certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_left ul::before{
    height: 2px;
    width: 256px;
    rotate: 90deg;
    content: "";
    position: absolute;
    top: 138px;
    left: -129px;
    background-color: #BFBFC1;
}
.certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_left ul li:first-child{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    margin-bottom: 56px;
    &::before{
        background-color: #005494;
    }
}
.certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_left ul li{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #767474;
    margin-bottom: 56px;
    position: relative;
    margin-left: 39px;
    &::before{
        content: "";
        top: 10px;
        left: -44px;
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #767474;
        border-radius: 50%;
    }
}



.certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 16px;
}
.certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    max-width: 525px;
    margin-bottom: 37px;
}
.certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle a:hover{
    background: #093679d7;
}
.certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle a{
    background: #093679;
    padding: 17px 38px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle a span{
    margin-left: 17px;
}
.certification .certification_outer .certification_inner .certification_inner_inner_right figure img{
    margin-top: -20px;
}

/* about page all css */

.about_back_ground_img_left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.about_back_ground_img_right{
    position: absolute;
    top: -97px;
    right: 0;
}
.about_banner_section{
    position: relative;
    height: 393px;
    width: 100%;
    background: linear-gradient(255.03deg, #F0F5FF 7.6%, rgba(194, 210, 244, 0.17) 88.97%);
}
.about_banner_section_inner_right figure img{
    margin-left: -30px;
}
.about_banner_section_inner_left h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #022642;
}
.about_banner_section_inner_left{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.about_section_2_left .about_section_2_left_inner h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #04131F;
}
.about_section_2_left .about_section_2_left_inner p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #00B4E0;
}
.about_section_2_left .about_section_2_left_inner p:last-child{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
}
.about_section_2_left{
    height: 100%;
    display: flex;
    align-items: center;
}
.about_section_2{
    margin-top: 89px;
    margin-bottom: 93px;
}

.about_section_3{
    background-color: #F4F5F6;
    padding: 83px 0px 89px;
}
.about_section_3_right{
    display: flex;
    justify-content: center;
}
.about_section_3_right p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
    max-width: 470px;
    margin-top: -5px;
}
.about_section_3_right p:last-child{
    max-width: 454px;
}

.about_section_4_left .about_section_4_left_inner h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #04131F;
    max-width: 273px;
}
.about_section_4_left .about_section_4_left_inner p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
    max-width: 510px;
    &:last-child{
        max-width: 515px;
    }
}
.about_section_4{
    margin-top: 102px;
    margin-bottom: 88px;
}


.about_section_5{
    background-color: #F4F5F6;
    padding-top: 113px;
    padding-bottom: 125px;
}
.about_section_5 .about_section_5_right_inner h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #04131F;
    margin-top: -10px;
    max-width: 440px;
    margin-bottom: 20px;
}
.about_section_5 .about_section_5_right_inner p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
    max-width: 461px;
}
.about_section_5_right{
    display: flex;
    justify-content: center;
}
.about_section_6{
    margin-top: 125px;
}
.about_section_6 .about_section_6_left .about_section_6_left_inner h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #04131F;
    max-width: 490px;
    margin-top: -10px;
}
.about_section_6 .about_section_6_left .about_section_6_left_inner p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
    max-width: 512px;
}
.about_section_6 h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #00B4E0;
    margin-top: 74px;
    margin-bottom: 102px;
}

footer{
    background-color: #0B2D75;
    position: relative;
}
footer .footer_outer .footer_inner{
    display: flex;
    padding-top: 77px;
}
footer .footer_outer .footer_inner .footer_inner_left a figure img{
    margin-left: -17px;
    max-width: 184px;
}
footer .footer_outer .footer_inner .footer_inner_left{
    margin-right: 97px;
}
footer .footer_outer .footer_inner .footer_inner_right_inner h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 28px;
}
footer .footer_outer .footer_inner .footer_inner_right_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
}
footer .footer_outer .footer_inner .footer_inner_right_inner a span{
    margin-right: 16px;
    display: inline-block;
}
footer .footer_outer .footer_inner .footer_inner_right_inner .location{
    max-width: 17px;
    height: 22px;
}
footer .footer_outer .footer_inner .footer_inner_right_inner .quick_links li{
   margin-bottom: 23px;
}
footer .footer_outer .footer_inner .footer_inner_right_inner .leagal li{
    margin-bottom: 23px;
}
footer .footer_outer .footer_inner .footer_inner_right_inner .contact li{
    margin-bottom: 24px;
}
footer .footer_bottom{
    border-top: 2px solid #204592;
    margin-top: 48px;
}
footer .footer_bottom_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 81px;
}
footer .footer_bottom_inner a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
footer .footer_bottom_inner ul{
    display: flex;
    align-items: center;
}
footer .footer_bottom_inner ul li:last-child{
    margin-left: 17px;
}
footer .footer_bg_image{
    position: relative;
}
footer .footer_bg_image .footer_bg_img_inner{
    position: absolute;
    bottom: 0;
    left: -99px;
    z-index: 1;
}
footer .footer_bottom_inner a{
    position: relative;
    z-index: 2;
}









 /* ========================responsive================================ */



 @media (max-width:1199px){

    /* about page responsive */
    .about_banner_section_inner_left h1{
        font-size: 48px;
    }
   
    .about_section_2_left .about_section_2_left_inner h2{
        font-size: 25px;
    }
    .about_section_2_left .about_section_2_left_inner p{
        font-size: 16px;
    }
 
    .about_section_3_right p{
        font-size: 16px;
    }
    .about_section_4_left .about_section_4_left_inner h2{
        font-size: 25px;
    }
    .about_section_4_left .about_section_4_left_inner p{
        font-size: 16px;
        max-width: 458px;
    }
  
    .about_section_5 .about_section_5_right_inner h2{
        font-size: 25px;
        max-width: 264px;
    }
    .about_section_5 .about_section_5_right_inner p{
        font-size: 16px;
        max-width: 410px;
    }
    .about_back_ground_img_right{
        display: none;
    }
    .about_back_ground_img_left{
        display: none;
    }
    .about_section_6 .about_section_6_left .about_section_6_left_inner h2{
        font-size: 25px;
        max-width: 293px;
    }
    .about_section_6 .about_section_6_left .about_section_6_left_inner p{
        font-size: 16px;
        max-width: 455px;
    }
    .about_section_6 h3{
        font-size: 25px;
    }
    
   
    
    /* about page responsive end */


    /* drop down section */
    .navbar-nav .dropdown-menu {
        min-width: 950px;
        min-height: 500px;
    }
    .navbar-nav .dropdown-menu.first {
        transform: translate(0%);
    }
    .navbar-nav .dropdown-menu.first::before{
        display: none;
    }
    .first_drop_down_inner .first_drop_down_inner_outer .first_drop_down_card_5_outer{
       margin-top: 50px; 
    }
    .first_drop_down_inner .first_drop_down_inner_outer .first_drop_down_card_4_outer ul li {
        &:last-child {
            margin-bottom: 50px;
        }
    }
    .first_drop_down_card_4_inner{
        margin-top: 50px;
    }
    .navbar-nav .dropdown-menu{
        transform: translate(0%);
    }
    .navbar-nav .dropdown-menu::before{
        display: none;
    }

    /* drop down section */


    .featured .round_vector_outer{
        display: none;
    }
    .footer_bg_image{
        display: none;
    }
    .helping_engineer_inner_inner h1{
        font-size: 40px;
    }
    .helping_engineer_inner_inner p{
        font-size: 19px;
    }
    .featured_outer_inner h2 {
        font-size: 35px;
    }
    .featured .card_section_outer .card_section_inner .card_section_inner_inner .row .col{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    .card_section_inner .card_section_inner_inner .card_7_outer .card_7_inner p{
        margin-bottom: 52px;
    }
    .card_section_inner .card_section_inner_inner .card_10_outer .card_10_inner p {
        margin-top: 27px;
        margin-bottom: 34px;
    }
    .card_section_inner .card_section_inner_inner .card_11_outer .card_11_inner p{
        margin-bottom: 34px;
    }
    .card_section_inner .card_section_inner_inner .card_12_outer .card_12_inner p{
        margin: 27px 0px 34px 0px;
    }
    .card_section_inner .card_section_inner_inner .card_12_outer .card_12_inner p{
        margin-top: 25px;
    }
    .card_section_inner .card_section_inner_inner .card_9_outer .card_9_inner p{
        margin-bottom: 11px;
        margin-top: 27px;
    }
    .card_section_inner .card_section_inner_inner .card_2_outer .card_2_inner p{
        margin-top: 27px;
        margin-bottom: 27px;
    }
    .card_section_inner .card_section_inner_inner .card_3_outer .card_3_inner p{
        margin: 32px 0px 25px 0px;
    }
    .card_section_inner .card_section_inner_inner .card_4_outer .card_4_inner p br{
        display: none;
    }
    .card_section_inner .card_section_inner_inner .card_4_outer .card_4_inner p{
        margin-top: 26px;
    }
    .card_section_inner .card_section_inner_inner .card_15_outer .card_15_inner p {
        margin: 23px 0px 48px 0px;
    }
    .card_section_inner .card_section_inner_inner .card_14_outer .card_14_inner p {
        margin: 15px 0px 49px 0px;
    }
    .card_section_inner .card_section_inner_inner .card_13_outer .card_13_inner p{
        margin-bottom: 51px;
    }
    .card_section_inner .card_section_inner_inner .card_17_outer .card_17_inner p br{
        display: none;
    }
    .card_section_inner .card_section_inner_inner .card_17_outer .card_17_inner p{
        margin-bottom: 50px;
    }
    .card_section_inner .card_section_inner_inner .card_13_outer{
        margin-bottom: 14px;
    }
    .about_ice .about_ice_inner .about_ice_inner_left h3 {
        font-size: 35px;
    }
    .about_ice .about_ice_inner .about_ice_inner_left p {
        max-width: 533px;
    }
    .about_ice .about_ice_outer .about_ice_bottom_outer .about_ice_bottom_inner{
        width: 80%;
    }
    .latest_company .latest_company_inner h2{
        font-size: 36px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner h3{
        max-width: 373px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner p{
        max-width: 373px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner p{
        max-width: 373px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner p{
        max-width: 373px;
    }
    .latest_company .card_1{
        margin-bottom: 20px;
    }
    .certification_inner_inner_right{
        display: none;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle p{
        max-width: 630px;
    }
    footer .footer_outer .footer_inner .footer_inner_right_inner h3{
        margin-top: 20px;
    }
 }



 @media (max-width:991px){

    /* dop down css */

    .navbar-nav .dropdown-menu {
        min-width: 746px;
    }
    .first_drop_down_card_3_inner{
        margin-top: 50px;
    }
    .first_drop_down_inner .first_drop_down_inner_outer .first_drop_down_card_5_outer{
        margin-top: 0;
    }

    /* drop down css */


     
    .nav-tabs .nav-link:focus {
      border-bottom: 4px solid transparent !important;
    }
 
    .card_section_inner .card_section_inner_inner .card_9_outer .card_9_inner p {
        margin-bottom: 34px;
        margin-top: 26px;
    }
    .about_ice .about_ice_inner .about_ice_inner_left h3 {
        font-size: 29px;
    }
    .about_ice .about_ice_inner .about_ice_inner_left p {
        max-width: 623px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .about_ice .about_ice_outer .about_ice_bottom_outer .about_ice_bottom_inner {
    display: none;
    }
    .about_ice .about_ice_inner .about_ice_inner_left a{
        padding: 10px 13px;

    }
    .helping_engineer_inner_inner h1 {
        font-size: 27px;
    }
    .helping_engineer_inner_inner p {
        font-size: 16px;
    }
    .helping_engineer_inner_inner .explore_more_btn{
        font-size: 16px;
        padding: 11px 14px;
    }
    .featured_outer_inner h2 {
        font-size: 25px;
    }
    .certification .certification_outer .certification_inner h2{
        font-size: 29px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle h3{
        font-size: 25px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle p{
        font-size: 16px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_left ul li{
        margin-bottom: 19px;
        font-size: 16px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_left ul li:first-child{
        margin-bottom: 19px;
        font-size: 16px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_left ul::before{
        width: 211px;
        top: 122px;
        left: -107px;
    }
    .certification_inner_inner_left{
        padding-right: 100px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_left ul li{
        margin-left: 20px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_left ul li::before { 
        left: -25px;
        }
 }       

 @media (max-width:767px) {

    /* drop down css */
    .navbar-nav .dropdown-menu {
        min-width: 550px;
    }

    /*  drop down css */

    .featured_outer_inner ul{
        overflow: hidden;
        overflow: scroll;
    }
    .featured_outer_inner ul li a{
        font-size: 16px;
        width: 145px;
        display: flex;
        justify-content: center;
    }
    .about_ice .about_ice_inner{
        flex-direction: column;
    }
    .about_ice_inner_right{
        margin-top: 25px;
    }
    .about_ice_inner_right figure img{
        width: 100%;
    }
    .about_ice .about_ice_inner .about_ice_inner_left h3 br{
        display: none;
    }
    .latest_company .latest_company_inner h2 {
        font-size: 25px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner h3{
        font-size: 18px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_1 .card_1_outer .card_1_inner p{
        font-size: 16px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner h3{
        font-size: 18px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_2 .card_2_outer .card_2_inner p{
        font-size: 16px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner h3{
        font-size: 18px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner p{
        font-size: 16px;
        max-width: 272px;
    }
    .latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner figure img{
        width: 264px;
        height: 295px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner{
        flex-direction: column;
    }
    .certification .certification_outer .certification_inner h2{
        margin-bottom: 40px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_left ul::before {
        width: 137px;
        top: 78px;
        left: -69px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle a{
        font-size: 16px;
        padding: 11px 9px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle a span{
        margin-left: 10px;
    }
    footer .footer_outer .footer_inner{
        flex-direction: column;
    }
    footer .footer_outer .footer_inner .footer_inner_left{
        margin-bottom: 25px;
    }
    footer .footer_bottom_inner a{
        font-size: 16px;
    }
 }

 @media (max-width:575px) {
    /* drop down css */

    .navbar-nav .dropdown-menu {
       min-width: 300px;
    }

    /* drop down css */


    .helping_engineer_inner_inner h1{
        font-size: 25px;
        margin-top: 25px;
    }
    .helping_engineer_inner_inner p{
        margin: 0;
        line-height: 1.5;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .featured_outer_inner h2 {
        font-size: 23px;
    }
    .card_section_inner .card_section_inner_inner .card_5_outer .card_5_inner p br{
        display: none;
    }
    .card_section_inner .card_section_inner_inner .card_5_outer .card_5_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_1_outer .card_1_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_2_outer .card_2_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_3_outer .card_3_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_6_outer .card_6_inner p br{
        display: none;
    }
    .card_section_inner .card_section_inner_inner .card_6_outer .card_6_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_4_outer .card_4_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_7_outer .card_7_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_8_outer .card_8_inner p br{
        display: none;
    }
    .card_section_inner .card_section_inner_inner .card_8_outer .card_8_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_9_outer .card_9_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_10_outer .card_10_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_11_outer .card_11_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_12_outer .card_12_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_13_outer .card_13_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_14_outer .card_14_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_15_outer .card_15_inner p{
        text-align: center;
    }
    .card_section_inner .card_section_inner_inner .card_16_outer .card_16_inner p{
        text-align: center;
    }
    .card_section_inner .card_section_inner_inner .card_16_outer .card_16_inner p{
        text-align: center;
    }
    .card_section_inner .card_section_inner_inner .card_17_outer .card_17_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_15_outer .card_15_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_16_outer .card_16_inner a{
        display: flex;
        justify-content: center;
    }
    .card_section_inner .card_section_inner_inner .card_17_outer .card_17_inner a{
        display: flex;
        justify-content: center;
    }
    .latest_company .latest_company_inner .card_section_inner .card_3 .card_3_outer .card_3_inner figure img{
        width: 326px;
    }
    .about_ice .about_ice_inner .about_ice_inner_left p{
        font-size: 16px;
        line-height: 1.5;
    }
    .latest_company .card_2{
        margin-bottom: 20px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle h3 {
        font-size: 23px;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle p{
        line-height: 1.7;
    }
    .certification .certification_outer .certification_inner .certification_inner_inner .certification_inner_inner_middle a span {
        margin-left: 4px;
    }
    footer .footer_outer .footer_inner .footer_inner_right_inner h3{
        text-align: center;
    }
    footer .footer_outer .footer_inner .footer_inner_left{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 25px;
    }
    footer .footer_outer .footer_inner .footer_inner_right_inner .quick_links li a{
        justify-content: center;
    }
    footer .footer_outer .footer_inner .footer_inner_right_inner a{
        justify-content: center;
    }
    footer .footer_outer .footer_inner .footer_inner_right_inner .contact li a{
        justify-content: center;
    }
    footer .footer_bottom_inner{
        flex-direction: column;
    }
    footer .footer_bottom_inner a{
        font-size: 15px;
        margin-top: 10px;
    }
    footer .footer_bottom_inner ul{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .about_ice {
        padding-bottom: 35px;
    }
    .latest_company .latest_company_inner{
        margin-top: 25px;
    }
    .latest_company .latest_company_inner .card_section{
        padding-bottom: 25px;
    }
    .certification .certification_outer{
        padding-top: 25px;
    }
    footer .footer_outer .footer_inner .footer_inner_right_inner .contact li:first-child{
        margin-left: 25px;
    }
 }



